/* Remove the direct imports and let's import from Layout.astro instead */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 26 26 26; /* #1a1a1a */
        --color-bg-main: 245 245 233; /* #f5f5e9 */
        --color-bg-muted: 238 238 226;
        --color-border-main: 26 26 26;
    }
    
    html.dark {
        --color-text-main: 245 245 233;
        --color-bg-main: 26 26 26;
        --color-bg-muted: 38 38 38;
        --color-border-main: 245 245 233;
    }
}
