---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Navbar />

<main class="px-8 py-16 max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-6">Contact with me!</h1>
  <p class="text-lg leading-relaxed mb-8">
    Hello! I'm Alexandro Suciu Peici, a graphic designer and frontend developer. If you have any questions, are
    interested in collaborating on a project, or simply want to say hi, feel free to get in touch with me. You
    can send me an email at <a href="mailto:alexandrosuciupeici@gmail.com"
      class="underline">alexandrosuciupeici@gmail.com</a> or fill out the form below. I look forward to
    hearing from you soon!
  </p>
  <form class="space-y-4">
    <input type="email" placeholder="Gmail..." class="w-full p-4 border border-[#1a1a1a] rounded-md focus:outline-none">
    <textarea placeholder="Whats the deal!..." rows="5"
      class="w-full p-4 border border-[#1a1a1a] rounded-md focus:outline-none"></textarea>
    <button type="submit"
      class="px-6 py-2 border border-[#1a1a1a] rounded-full hover:bg-[#1a1a1a] hover:text-[#fdfbec] transition">
      Send
    </button>
  </form>
</main>

<Footer />
